<section class="hero is-medium is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-large has-text-centered">
                <%= pageTopHeading %>
            </h1>
            <h2 class="subtitle has-text-centered">
                
                <%= pageSubHeading %>
            </h2>
        </div>
    </div>
</section>

