<p style="margin-top:50px;"></p>
<div class="columns">
    <div class="column is-3">
      <aside class="is-medium menu">
        <p class="menu-label">
          TEST CATEGORIES
        </p>
        <ul class="menu-list">
          <li><a href="/css"><i class="fab fa-css3-alt"></i> CSS</a></li>
          <li><a href="/js" ><i class="fab fa-js"></i> JS</a></li>
          <li><a href="/html" ><i class="fab fa-html5"></i> HTML</a></li>
        </ul>
        <p class="menu-label">
          Popular test pages
        </p>
        <ul class="menu-list">
          <li><a class="tag is-white is-medium">Lorem</a></li>
          <li><a class="tag is-white is-medium">Ipsum</a></li>
          <li><a class="tag is-white is-medium">Dolor</a></li>
          <li><a class="tag is-white is-medium">Animi</a></li>
          <li><a class="tag is-white is-medium">Eximi</a></li>
          <li><a class="tag is-white is-medium">Nullius</a></li>
          <li><a class="tag is-white is-medium">Oxipi</a></li>
          <li><a class="tag is-white is-medium">Vultus</a></li>
          
        </ul>
      </aside>
    </div>
      <!-- content goes here -->
      <div class="column is-8">
        <div class="content is-large">
        <h1><%= testName %></h1>
        <%- mainContent %></div>
      </div>
  
    </div>