<%- include ./partials/head.ejs %>

</head>

<body>

  <div class="container">
    <%- include ./partials/nav.ejs %>




    <section>
      <div class="columns">
        <div class="column">
         
            <h1 class="title is-1">About you</h1>
            <p><%= responseHeaders %></p>
            <%- include ./partials/footer.ejs %>
         
        </div>

      </div>
    </section>
  </div>



</body>

</html>