<%- include ./partials/head.ejs %>

</head>

<body style="background-color: lightsteelblue;">

  <div class="container" style="padding: 10px; background-color: white;">
    <%- include ./partials/nav.ejs %>
    <%- include ./partials/sidebar.ejs %>

  
  </div>
</body>

</html>