<%- include ./partials/head.ejs %>



<body style="background-color: lightsteelblue;">

  <div class="container-fluid" style="padding:0 50px 0 50px; background-color: white;">
    <%- include ./partials/nav.ejs %>
    <%- include ./partials/hero.ejs %>
    <%- include ./partials/sidebar.ejs %>

  
  </div>
</body>

</html>