<%- include ./partials/head.ejs %>



<body>

  <div class="container" style="padding:0 30px 0 30px; background-color: white;">
    <%- include ./partials/nav.ejs %>
    <%- include ./partials/hero.ejs %>
    <%- include ./partials/sidebar.ejs %>

  
  </div>
</body>

</html>